body {
  margin: 0px;
}

canvas {
  background-color: rgb(255, 127, 80);
  background-image: url(https://media1.thehungryjpeg.com/thumbs/800_3499129_453ff6885f736dcfe34c4ad3d6fae714fea0c88a.jpg);
}

img {
  display: none;
}
